.home-page {
  padding: 20px;

  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .input-with-spinner {
      position: relative;
      display: inline-block;

      input {
        padding-right: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;

        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type='number'] {
          -moz-appearance: textfield;
        }
      }

      .spinner {
        position: absolute;
        right: 8px;
        top: 50%;
        width: 12px;
        height: 12px;
        border: 2px solid #ccc;
        border-top-color: #007bff;
        border-radius: 50%;
        animation: spin 0.6s linear infinite;
        transform: translateY(-50%);
      }
    }

    select {
      appearance: none; /* Hides the default arrow in most browsers */
      -moz-appearance: none; /* For Firefox */
      -webkit-appearance: none; /* For WebKit browsers */
      position: relative;
      padding: 6px;
      padding-right: 40px; /* Space for the custom arrow */
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      background-image: none;
      cursor: pointer;

      &:hover {
        background-color: #f9f9f9; /* Optional hover effect */
      }
    }
  }

  @keyframes spin {
    from {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(360deg);
    }
  }

  .movies-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    th,
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
    }

    .movie-poster {
      width: 50px;
      height: auto;
    }

    .clickable-row {
      cursor: pointer;

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    span {
      margin: 0 10px;
    }
  }
}
